# PHPUnit cache files
.phpunit.result.cache

# Dependencies
/vendor/

# Temporary storage files
/storage/logs/agent_debug*.log
/storage/logs/agent_debug*.bak
/storage/logs/agent-debugger/

# VSCode Workspace files
.vscode/
Local_Debug_Activity.code-workspace

# Environment override overrides
.env
.env.backup
.agents
project_testing